.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 300px) {
  .container {
    max-width: 260px;
  }
}

// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 738px;
//   }
// }

@media screen and (min-width: 904px) {
  .container {
    max-width: 817px;
  }
}
