.body-cards-section {
  padding-bottom: 128px;
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
}

.list-item-cards {
  display: inline-table;
  font-size: 0;
  margin-right: 15px;
  margin-bottom: 8px;
  &:nth-child(4n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}

.subtitle-cards {
  line-height: 12px;
}

.list-item-cards-img {
  width: 54px;
}

// --------- Стили для Пк ----------
@media screen and (min-width: 904px) {
  .body-cards-section {
    padding-bottom: 44px;
    width: 274px;
  }

  .subtitle-cards {
    margin-bottom: 8px;
  }
}
